@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: rgb(245, 245, 245);
  min-height: 100%;
}


.navbar {
  padding-top: 12px;
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  padding: 0 64px;
}

a{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.container {
  grid-area: main;
  height: 100%;
  margin: 24px 12px;
}

.container-page__bio {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "navbar navbar navbar"
    "main   main   main"
    "footer footer footer";
  max-height: fit-content;
}

.container-bio {
  padding: 150px 0 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
  min-height: 100vh;
}

.container-bio__profile-pic {
  max-width: 46vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.profile-pic--img {
  border-radius: 0.3rem;
  width: 80%;
  object-fit: scale-down;
}

.container-bio__desc {
  font-family: "Montserrat";
  
  max-width: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-bio__desc__title {
  font-size: 18px;
  letter-spacing: 4pt;
  font-weight: 600;
}

.container-bio__desc__subtitle {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

strong{
  font-weight: 500;
}

.container-bio__text {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 12px 0;
  text-align: left;
}

.section_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: rgb(165, 165, 141);
  border-radius: .5rem .5rem 0 0;
}

.container-footer {
  min-height: 100px;
  font-family: "Montserrat";
  color:whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container-footer a{
  color:whitesmoke;
}

.container-footer .footer__name, .footer__redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .navbar a {
    padding: 0 32px;
  }
  .container-bio{
    padding-top: 32px;
  }

  .container-bio__profile-pic{
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .navbar{
    max-width: 90%;
  }
}