.description__retratos {
  letter-spacing: 1pt;
  text-transform: none;
}

.container__section-retratos {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  max-width: 1550px;
  min-width: 10px;
  height: 100%;
}

.container__section-position-retratos {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 35.2px;
  row-gap: 30px;
}

.position-retratos {
  margin-top: 32px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 12px;
}

.retratos__card {
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 1560px;
  margin: auto;
}

.imagen__retratos {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

@media (max-width: 585px) {
  .container__section-retratos {
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    max-width: 1550px;
    min-width: 10px;
    height: 100%;
    width: auto;
  }

  .imagen__retratos {
    /*height: 338px;
    width: 538px;
    object-fit: cover;*/
    height: 350px;
    width: 350px;
    object-fit: contain;
  }

  .retratos__card {
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
